@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
/* style margin to body*/
body {
  margin: 10px;
}

/*style div to align center in the page*/
div {
    width: 300px;
    height: 300px;
    background-color: black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* default color to like button*/
.like {
    background-color: red;
  }
/*default color to dislike button*/
.dislike {
    background-color: orange;   
}
/* style to make like and dislike anchor to look a button */
.like,.dislike {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    height: 40px;
    position: relative;
    margin: 3px 3px;
    width: 50px;
    top: 50%;
    left: 15%;
    border-radius: 5px;
    color: white;
    width: 100px;
}
/* style to number of like and dislike count only*/
.qty1,.qty2 {
    border: none;
    width:100px;
    background: transparent;
    color: white;
}
/* change to only when like count is equal to 100 and dislike color equal to 50*/
.likeCountColor, .dislikeCountColor  {
        background-color: blue;
        color:white;
}
